@import "compass";

$hero-width: 974px;
$hero-height: 370px;
$hero-padding: 4px;

$feature-content-padding: 0px;
$feature-content-height: $hero-width/3;

$features-list-outer-height: $hero-height - $feature-content-height;
$features-list-outer-width: $hero-width + 2;
$features-list-padding: 2px;
$features-item-width: $features-list-outer-width/4;
$features-list-margin: 0px;
$features-item-line-height: 18px;

$stories-thumb-margin: 4px;
$stories-thumb-dim: $feature-content-height/3 - $stories-thumb-margin*3;

$story-width: $hero-width*(2/3);
$story-padding: 8px;

$light-red:#A61C1F;
$dark-red:#711312;
$cream:#FAF7ED;


$sans: "Helvetica", "Arial", sans-serif;
$serif: "Georgia", "Times New Roman", serif;


/*
* Large-element styles
*/
body {
  background-color: #ccc;
}

#hero {
	width: $hero-width;
	height: $hero-height;
	background-color: $cream;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: 150px;
	display: block;
	overflow: hidden;
	padding: 0px;
}

#strip{
	position: absolute;
	top: 0px;
	left: 0px;
	width: $hero-width*4;
}

/*
* Main nav styles
*/
#features{
	height: $features-list-outer-height - $features-list-padding*2;
	width: $features-list-outer-width;
	position: absolute;
	top: $hero-height - $features-list-outer-height +6;
	left: $features-list-margin;
	
	ul{
		margin:0px;
		margin-left: $features-list-margin;
		padding: 0px;
		height: 100%;
		width: 100%;
		li{
			width: $features-item-width;
			display: block;
			float: left;
			@include background-image(linear-gradient(#ED3232, $light-red 90%));
			text-align: center;
			height: 100%;
			margin: 0px;
			padding: 0px;
			color: $cream;
			font-family: $sans;
		}
		
		li.opened{
			font-weight: bold;
		}
		
		.feature-nav{
			position: relative;
			height: $features-item-line-height;
			top: ($features-list-outer-height - $features-item-line-height)/2;
		}
	}
}


/*
* Inside of the feature itself. General styles.
*/
.feature{
	padding: 0px;
	width: $hero-width;
	float: left;
	top: 0px;
	
	.feature-content{
		padding: $feature-content-padding;
		height: $feature-content-height;
		top: 0px;
	}
}

/*
* For the Stories feature.
*/
#stories{
	#stories-thumbs{
		@include clearfix;
		float: right;
		height: $feature-content-height;
		width: $feature-content-height;
		padding: 8px;
		figure{
			height: $stories-thumb-dim;
			width: $stories-thumb-dim;
			background-color: #000;
			margin: $stories-thumb-margin;
			padding: 0px;
			@include clearfix;
			float: right;
			@include box-shadow(0px 0px 6px #ddd);
			img{
				width: 100%;
			}
		}
		.opened{
			@include box-shadow(0px 0px 6px #333);
		}
	}
	.story{
		width: $story-width;
		position: absolute;
		top: 0px;
		.story-image{
			width: $story-width/2;
			height: 100%;
			overflow: hidden;
			@include clearfix;
			float: left;
			img{
				height: 100%;
				background-color: #000;
			}
		}
		section.story-blurb{
			width: $story-width/2 - $story-padding *4;
			height: $feature-content-height;
			padding: $story-padding;
			position: relative;
			top: 30px;
			@include clearfix;
			float: right;
			header.story-blurb{
				font-family: $serif;
				font-size: 24px;
			}
			.blurb{
				margin-top: 24px;
				p{
					font-family: $sans;
					font-size: 13px;
				}
			}
			.story-read-more{
				background-color: #D42222;
				border: none;
				font-family: $sans;
				color: $cream;
				padding: 6px;
				float: right;
				font-size: 11px;
				margin-right: 20px;
			}
		}
	}
}