$hero-width: 974px;
$hero-height: 370px;

$features-list-outer-height: 30px;
$features-list-padding: 2px;
$features-item-width: $hero-width/5;
$features-list-margin: ($hero-width - $features-item-width*4)/2;
$features-item-line-height: 18px;

$feature-content-padding: 4px;
$feature-content-height: $hero-height - 30px - $feature-content-padding*2;

$feature-article-padding: 4px;
$feature-article-height: $feature-content-height - $feature-article-padding*2;
$feature-article-margin: 4px;
$feature-article-width: ($hero-width - $feature-content-padding*2 - $feature-article-margin*8 - $feature-article-padding*8)/4;

body {
  background-color: #eee;
}

#hero {
	width: $hero-width;
	height: $hero-height;
	background-color: #777;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: 150px;
	display: block;
	/*overflow: hidden;*/
	padding: 0px;
}

nav.features{
	height: $features-list-outer-height - $features-list-padding*2;
	
	ul{
		margin:0px;
		margin-left: $features-list-margin;
		padding: 0px;
		height: 100%;
		li{
			width: $features-item-width;
			display: inline-block;
			background-color: #ccc;
			text-align: center;
			height: 100%;
			margin: 0px;
			padding: 0px;
		}
		
		li.opened{
			font-weight: bold;
		}
		
		span.feature{
			position: relative;
			height: $features-item-line-height;
			top: ($features-list-outer-height - $features-item-line-height)/2;
		}
	}
}

#strip{
	width: $hero-width*4;
}

section.feature{
	padding: 0px;
	width: $hero-width;
	overflow: hidden;
	/*display: none;*/
	float: left;
	top: 0px;
	
	.feature-content{
		padding: $feature-content-padding;
		height: $feature-content-height;
		overflow: hidden;
		top: 0px;
	}
	
	.feature-article{
		width: $feature-article-width;
		height: $feature-article-height;
		padding: $feature-article-padding;
		margin-left: 4px;
		margin-right: 4px;
		float: left;
		background-color: #666;
		overflow: hidden;
		
		.article-title{
			border-bottom: solid 1px #fff;
			margin-bottom: 4px;
		}
	}
	.article-figure{
		float: right;
	  	padding: 6px;
	  	background-color: #ccc;
		margin: 0px;
		width: 150px;
	
		img{
			display: block;
			max-width: 100%;
		}
		
		figcaption{
			font-style: italic;
		}
	}
}

.feature.opened{
/*	display: block;*/
}