$hero-width: 974px;
$hero-height: 370px;

//There are four of these.
$feature-title-inner-height: 20px;
$feature-title-padding: 3px;
$feature-title-height: $feature-title-inner-height + $feature-title-padding*2;

$feature-opened-height: $hero-height - $feature-title-height*3;

$feature-content-padding: 4px;
$feature-content-height: $hero-height - $feature-title-height*4 - $feature-content-padding*2;

//There are four of these.
$feature-article-padding: 4px;
$feature-article-height: $feature-content-height - $feature-article-padding*2;
$feature-article-margin: 4px;
$feature-article-width: ($hero-width - $feature-content-padding*2 - $feature-article-margin*8 - $feature-article-padding*8)/4;

body {
  background-color: #eee;
}

#hero {
	width: $hero-width;
	height: $hero-height;
	background-color: #777;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	display: block;
	overflow: hidden;
	padding: 0px;
}


.feature{
	padding: 0px;
	width: 100%;
	display: block;
	
	.feature-content{
		padding: $feature-content-padding;
		height: $feature-content-height;
		overflow: hidden;
	}
	
	.feature-article{
		width: $feature-article-width;
		height: $feature-article-height;
		padding: $feature-article-padding;
		margin-left: 4px;
		margin-right: 4px;
		float: left;
		background-color: #666;
		overflow: hidden;
		
		.article-title{
			border-bottom: solid 1px #fff;
		}
	}
	.feature-title{
		width: 100%;
		height: $feature-title-inner-height;
		padding: $feature-title-padding;
		clear: both;
		background-color: #fff;
		border-bottom: 1px solid #000;
	}
	.article-figure{
		float: right;
	  	padding: 6px;
	  	background-color: #ccc;
		margin: 0px;
		width: 150px;
	
		img{
			display: block;
			max-width: 100%;
		}
		
		figcaption{
			font-style: italic;
		}
	}
}

.feature.opened{
	height: $feature-opened-height;
	overflow: hidden;
}