body {
  background-color: #eee; }

#hero {
  width: 974px;
  height: 370px;
  background-color: #777;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  display: block;
  overflow: auto; }

.feature .article-content {
  float: left; }
.feature .article-figure {
  float: right;
  padding: 6px;
  background-color: #ccc; }
  .feature .article-figure img {
    display: block;
    max-width: 150px;
    max-height: 150px; }
  .feature .article-figure figcaption {
    font-style: italic; }
