/*
* Variables and imports
*/
/*
* Large-element styles
*/
/* line 44, ../sass/style.scss */
body {
  background-color: #ccc;
}

/* line 48, ../sass/style.scss */
#hero {
  width: 974px;
  height: 370px;
  background-color: #faf7ed;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 150px;
  display: block;
  overflow: hidden;
  padding: 0px;
}

/* line 61, ../sass/style.scss */
#strip {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 3896px;
}

/*
* Main nav styles
*/
/* line 71, ../sass/style.scss */
#features {
  height: 41.333px;
  width: 976px;
  position: absolute;
  top: 330.667px;
  left: 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 0 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 0 8px;
  -o-box-shadow: rgba(0, 0, 0, 0.3) 0 0 8px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 8px;
  text-shadow: rgba(0, 0, 0, 0.4) 0 0 2px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f25757), color-stop(20%, #ed3232), color-stop(90%, #a61c1f));
  background-image: -webkit-linear-gradient(#f25757, #ed3232 20%, #a61c1f 90%);
  background-image: -moz-linear-gradient(#f25757, #ed3232 20%, #a61c1f 90%);
  background-image: -o-linear-gradient(#f25757, #ed3232 20%, #a61c1f 90%);
  background-image: -ms-linear-gradient(#f25757, #ed3232 20%, #a61c1f 90%);
  background-image: linear-gradient(#f25757, #ed3232 20%, #a61c1f 90%);
  text-transform: uppercase;
}
/* line 82, ../sass/style.scss */
#features ul {
  margin: 0px;
  margin-left: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
}
/* line 88, ../sass/style.scss */
#features ul li {
  width: 244px;
  display: block;
  float: left;
  text-align: center;
  height: 100%;
  margin: 0px;
  padding: 0px;
  color: #faf7ed;
  font-family: "Helvetica", "Arial", sans-serif;
}
/* line 100, ../sass/style.scss */
#features ul li.opened {
  text-shadow: rgba(250, 247, 237, 0.4) 0 0 4px;
}
/* line 104, ../sass/style.scss */
#features ul li:hover {
  color: #FFFDF5;
  text-shadow: rgba(250, 247, 237, 0.8) 0 0 4px;
}
/* line 109, ../sass/style.scss */
#features ul .feature-nav {
  position: relative;
  height: 18px;
  top: 13.667px;
}

/*
* Inside of the feature itself. General styles.
*/
/* line 120, ../sass/style.scss */
.feature {
  padding: 0px;
  width: 974px;
  float: left;
  top: 0px;
}
/* line 126, ../sass/style.scss */
.feature .feature-content {
  padding: 0px;
  height: 324.667px;
  top: 0px;
}

/*
* For the Stories feature.
*/
/* line 137, ../sass/style.scss */
#stories .navlinks {
  overflow: hidden;
  *zoom: 1;
  float: right;
  height: 324.667px;
  width: 324.667px;
  padding: 8px;
}
/* line 143, ../sass/style.scss */
#stories .navlinks ul {
  list-style: none;
  margin: 0px;
  width: 324.667px;
  height: 324.667px;
  padding-left: 0px;
}
/* line 149, ../sass/style.scss */
#stories .navlinks ul li {
  height: 96.222px;
  width: 96.222px;
  background-color: #000;
  margin: 4px;
  padding: 0px;
  overflow: hidden;
  *zoom: 1;
  float: right;
  -moz-box-shadow: 0px 0px 6px #dddddd;
  -webkit-box-shadow: 0px 0px 6px #dddddd;
  -o-box-shadow: 0px 0px 6px #dddddd;
  box-shadow: 0px 0px 6px #dddddd;
}
/* line 158, ../sass/style.scss */
#stories .navlinks ul li figure {
  height: 96.222px;
  width: 96.222px;
  margin: 0px;
}
/* line 163, ../sass/style.scss */
#stories .navlinks ul li figure img {
  width: 100%;
}
/* line 170, ../sass/style.scss */
#stories .navlinks li.opened {
  -moz-box-shadow: 0px 0px 6px #333333;
  -webkit-box-shadow: 0px 0px 6px #333333;
  -o-box-shadow: 0px 0px 6px #333333;
  box-shadow: 0px 0px 6px #333333;
}
/* line 174, ../sass/style.scss */
#stories .story {
  width: 649.333px;
  position: absolute;
  top: 0px;
  display: none;
}
/* line 179, ../sass/style.scss */
#stories .story .story-image {
  width: 324.667px;
  height: 332.667px;
  overflow: hidden;
  overflow: hidden;
  *zoom: 1;
  float: left;
  background-color: #000;
}
/* line 186, ../sass/style.scss */
#stories .story .story-image img {
  width: 100%;
}
/* line 190, ../sass/style.scss */
#stories .story section.story-blurb {
  width: 276.667px;
  height: 324.667px;
  padding: 24px;
  position: relative;
  left: 4px;
  overflow: hidden;
  *zoom: 1;
  float: right;
}
/* line 198, ../sass/style.scss */
#stories .story section.story-blurb header.story-blurb {
  font-family: "Georgia", "Times New Roman", serif;
  font-size: 26px;
}
/* line 202, ../sass/style.scss */
#stories .story section.story-blurb .blurb {
  margin-top: 24px;
}
/* line 204, ../sass/style.scss */
#stories .story section.story-blurb .blurb p {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
}
/* line 210, ../sass/style.scss */
#stories .story section.story-blurb .story-read-more {
  background-color: #d42222;
  border: none;
  font-family: "Helvetica", "Arial", sans-serif;
  text-transform: uppercase;
  color: #FFFDF5;
  padding: 6px;
  float: right;
  font-size: 11px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0px 0px 6px #cccccc;
  -webkit-box-shadow: 0px 0px 6px #cccccc;
  -o-box-shadow: 0px 0px 6px #cccccc;
  box-shadow: 0px 0px 6px #cccccc;
  text-shadow: rgba(0, 0, 0, 0.5) 0 0 2px;
}
/* line 224, ../sass/style.scss */
#stories .story section.story-blurb .story-read-more:hover {
  background-color: #ed3232;
}
/* line 228, ../sass/style.scss */
#stories .story section.story-blurb .story-read-more:active {
  background-color: #a61c1f;
}
/* line 233, ../sass/style.scss */
#stories .story.opened {
  display: block;
}

/*
* For the Photos feature.
*/
/* line 242, ../sass/style.scss */
#photos .feature-content {
  margin: 0px;
  padding: 0px;
  height: 330.667px;
  overflow: hidden;
  *zoom: 1;
  float: left;
  width: 974px;
}
/* line 251, ../sass/style.scss */
#photos article.photoset {
  display: none;
}
/* line 255, ../sass/style.scss */
#photos article.photoset.opened {
  display: block;
}
/* line 259, ../sass/style.scss */
#photos .photo {
  float: left;
  display: none;
}
/* line 262, ../sass/style.scss */
#photos .photo figure {
  width: 652.58px;
  height: 370px;
  margin: 0px;
}
/* line 266, ../sass/style.scss */
#photos .photo figure img {
  width: 100%;
  float: left;
}
/* line 271, ../sass/style.scss */
#photos .photo figcaption {
  width: 305.42px;
  margin: 0px;
  margin-left: 652.58px;
  margin-top: -370px;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 13px;
  line-height: 20px;
  overflow: hidden;
  *zoom: 1;
  padding: 8px;
  background-color: #fffdf7;
  -moz-box-shadow: rgba(0, 0, 0, 0.05) 0 0 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0 0 8px;
  -o-box-shadow: rgba(0, 0, 0, 0.05) 0 0 8px;
  box-shadow: rgba(0, 0, 0, 0.05) 0 0 8px;
}
/* line 284, ../sass/style.scss */
#photos .photo figcaption .notch {
  position: absolute;
  color: #fffdf7;
  font-size: 30px;
  left: 632.58px;
  top: 15px;
  margin: 0px;
  padding: 0px;
}
/* line 294, ../sass/style.scss */
#photos .photo figcaption p {
  margin: 0px;
}
/* line 298, ../sass/style.scss */
#photos .photo figcaption .credit {
  font-size: 11px;
}
/* line 307, ../sass/style.scss */
#photos .photo.opened {
  display: block;
}
/* line 311, ../sass/style.scss */
#photos .content {
  z-index: 0;
  float: left;
}
/* line 316, ../sass/style.scss */
#photos .navlinks {
  z-index: 1;
  position: absolute;
  bottom: 8px;
  width: 321.42px;
  font-family: "Georgia", "Times New Roman", serif;
  font-size: 14px;
  line-height: 20px;
  float: right;
  left: 652.58px;
}
/* line 327, ../sass/style.scss */
#photos .navlinks header {
  margin: 8px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  border-bottom: solid 1px #000;
}
/* line 335, ../sass/style.scss */
#photos .navlinks ul {
  list-style: none;
  margin: 8px;
  padding: 0px;
}
/* line 340, ../sass/style.scss */
#photos .navlinks ul li.opened {
  color: #666;
}
/* line 345, ../sass/style.scss */
#photos .navlinks figure {
  height: 65.167px;
  width: 65.167px;
  margin: 4px;
  background-color: #000;
  padding: 0px;
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  *zoom: 1;
}
/* line 353, ../sass/style.scss */
#photos .navlinks figure img {
  height: 100%;
  width: 100%;
}
/* line 358, ../sass/style.scss */
#photos .navlinks figure.opened {
  -moz-box-shadow: 0px 0px 5px black;
  -webkit-box-shadow: 0px 0px 5px black;
  -o-box-shadow: 0px 0px 5px black;
  box-shadow: 0px 0px 5px black;
}
