/*
* Large-element styles
*/
/* line 30, ../sass/style.scss */
body {
  background-color: #ccc;
}

/* line 34, ../sass/style.scss */
#hero {
  width: 974px;
  height: 370px;
  background-color: #eeebd7;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 150px;
  display: block;
  overflow: hidden;
  padding: 0px;
}

/* line 47, ../sass/style.scss */
#strip {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 3896px;
}

/*
* Main nav styles
*/
/* line 57, ../sass/style.scss */
#features {
  height: 36px;
  width: 976px;
  position: absolute;
  top: 334px;
  left: 0px;
}
/* line 65, ../sass/style.scss */
#features ul {
  margin: 0px;
  margin-left: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
}
/* line 71, ../sass/style.scss */
#features ul li {
  width: 244px;
  display: block;
  float: left;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ed3232), color-stop(90%, #a61c1f));
  background-image: -webkit-linear-gradient(#ed3232, #a61c1f 90%);
  background-image: -moz-linear-gradient(#ed3232, #a61c1f 90%);
  background-image: -o-linear-gradient(#ed3232, #a61c1f 90%);
  background-image: linear-gradient(#ed3232, #a61c1f 90%);
  text-align: center;
  height: 100%;
  margin: 0px;
  padding: 0px;
  color: #eeebd7;
}
/* line 83, ../sass/style.scss */
#features ul li.opened {
  text-decoration: overline;
}
/* line 87, ../sass/style.scss */
#features ul .feature-nav {
  position: relative;
  height: 18px;
  top: 11px;
}

/*
* Inside of the feature itself. General styles.
*/
/* line 99, ../sass/style.scss */
.feature {
  padding: 0px;
  width: 974px;
  float: left;
  top: 0px;
}
/* line 106, ../sass/style.scss */
.feature .feature-content {
  padding: 0px;
  height: 330px;
  top: 0px;
}

/*
* For the Stories feature.
*/
/* line 118, ../sass/style.scss */
#stories #stories-thumbs {
  overflow: hidden;
  *zoom: 1;
  float: right;
  height: 330px;
  width: 330px;
  padding: 8px;
}
/* line 124, ../sass/style.scss */
#stories #stories-thumbs figure {
  height: 98px;
  width: 98px;
  background-color: #000;
  margin: 4px;
  padding: 0px;
  overflow: hidden;
  *zoom: 1;
  float: right;
}
/* line 132, ../sass/style.scss */
#stories #stories-thumbs figure img {
  width: 100%;
}
/* line 136, ../sass/style.scss */
#stories #stories-thumbs .opened {
  -webkit-box-shadow: 0px 0px 6px #333333;
  -moz-box-shadow: 0px 0px 6px #333333;
  box-shadow: 0px 0px 6px #333333;
}
/* line 140, ../sass/style.scss */
#stories .story {
  width: 604px;
  float: left;
  position: absolute;
  top: 0px;
}
/* line 145, ../sass/style.scss */
#stories .story .story-image {
  width: 302px;
  height: 100%;
  overflow: hidden;
  overflow: hidden;
  *zoom: 1;
  float: left;
}
/* line 151, ../sass/style.scss */
#stories .story .story-image img {
  height: 100%;
  background-color: #000;
}
/* line 156, ../sass/style.scss */
#stories .story .story-blurb {
  width: 302px;
  height: 330px;
  overflow: hidden;
  *zoom: 1;
  float: right;
}
/* line 161, ../sass/style.scss */
#stories .story .story-blurb .blurb {
  position: absolute;
  top: 20px;
}
