/*
* Large-element styles
*/
/* line 8, ../sass/style.scss */
#hero {
  width: 974px;
  height: 370px;
  background-color: #e6e3d7;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 150px;
  overflow: hidden;
}

/* line 19, ../sass/style.scss */
#strip {
  position: absolute;
  width: 3896px;
}

/*
* Main nav styles
*/
/* line 27, ../sass/style.scss */
#features {
  height: 41.333px;
  width: 976px;
  position: absolute;
  top: 330.667px;
  left: 0px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 0 8px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 0 8px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 8px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #da0000), color-stop(20%, #c60017), color-stop(90%, #83000c));
  background-image: -webkit-linear-gradient(#da0000, #c60017 20%, #83000c 90%);
  background-image: -moz-linear-gradient(#da0000, #c60017 20%, #83000c 90%);
  background-image: -o-linear-gradient(#da0000, #c60017 20%, #83000c 90%);
  background-image: -ms-linear-gradient(#da0000, #c60017 20%, #83000c 90%);
  background-image: linear-gradient(#da0000, #c60017 20%, #83000c 90%);
  text-transform: uppercase;
}
/* line 38, ../sass/style.scss */
#features ul {
  margin-left: 0px;
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
}
/* line 45, ../sass/style.scss */
#features li {
  width: 244px;
  display: block;
  float: left;
  text-align: center;
  height: 100%;
  margin: 0px;
  padding: 0px;
  color: #e6e3d7;
  font-family: "Helvetica", "Arial", sans-serif;
}
/* line 58, ../sass/style.scss */
#features li:hover {
  color: #fffdf7;
}

/* line 62, ../sass/style.scss */
.feature-nav {
  position: relative;
  top: 11.667px;
  padding: 2px 3px 0 3px;
  display: inline-block;
}
/* line 67, ../sass/style.scss */
.opened > .feature-nav {
  color: #fffdf7;
  background-color: rgba(244, 141, 163, 0.6);
  -webkit-box-shadow: 0 0 5px 1px rgba(244, 141, 163, 0.5), inset 0 0 5px 1px rgba(198, 0, 23, 0.5);
  -moz-box-shadow: 0 0 5px 1px rgba(244, 141, 163, 0.5), inset 0 0 5px 1px rgba(198, 0, 23, 0.5);
  box-shadow: 0 0 5px 1px rgba(244, 141, 163, 0.5), inset 0 0 5px 1px rgba(198, 0, 23, 0.5);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

/*
* Inside of the feature itself. General styles.
*/
/* line 79, ../sass/style.scss */
.feature {
  padding: 0px;
  width: 974px;
  float: left;
  top: 0px;
}

/* line 85, ../sass/style.scss */
.feature-content {
  padding: 0px;
  height: 324.667px;
  top: 0px;
}

/*
* For the Stories feature.
*/
/* line 94, ../sass/style.scss */
.thumbnail-links {
  overflow: hidden;
  *zoom: 1;
  height: 324.667px;
  width: 324.667px;
  padding: 8px;
  float: right;
}
/* line 100, ../sass/style.scss */
.thumbnail-links ul {
  list-style: none;
  margin: 0px;
  width: 324.667px;
  height: 324.667px;
  padding-left: 0px;
}
/* line 107, ../sass/style.scss */
.thumbnail-links li {
  height: 96.222px;
  width: 96.222px;
  background-color: #000;
  margin: 4px;
  padding: 0px;
  overflow: hidden;
  *zoom: 1;
  float: right;
  -webkit-box-shadow: 0px 0px 6px #dddddd;
  -moz-box-shadow: 0px 0px 6px #dddddd;
  box-shadow: 0px 0px 6px #dddddd;
}
/* line 117, ../sass/style.scss */
.thumbnail-links figure {
  height: 96.222px;
  width: 96.222px;
  margin: 0px;
}
/* line 121, ../sass/style.scss */
.thumbnail-links figure img {
  width: 100%;
}
/* line 125, ../sass/style.scss */
.thumbnail-links li.opened, .thumbnail-links li:hover {
  -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
}

/* line 129, ../sass/style.scss */
.story {
  width: 649.333px;
  position: absolute;
  display: none;
}
/* line 133, ../sass/style.scss */
.story.opened {
  display: block;
}

/* line 137, ../sass/style.scss */
.story-image {
  width: 324.667px;
  height: 332.667px;
  overflow: hidden;
  overflow: hidden;
  *zoom: 1;
  float: left;
  background-color: #000;
}
/* line 144, ../sass/style.scss */
.story-image img {
  width: 100%;
}

/* line 148, ../sass/style.scss */
.story-blurb {
  width: 276.667px;
  height: 324.667px;
  padding: 24px;
  position: relative;
  overflow: hidden;
  *zoom: 1;
  left: 4px;
  float: right;
}

/* line 157, ../sass/style.scss */
.story-blurb-header {
  font-family: "Georgia", "Times New Roman", serif;
  font-size: 26px;
  margin-bottom: 24px;
}

/* line 162, ../sass/style.scss */
.blurb {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
}

/* line 167, ../sass/style.scss */
.story-read-more {
  float: right;
}

/*
* hero button, e.g. story-read-more
*/
/* line 175, ../sass/style.scss */
.hero-button {
  background-color: #c60017;
  border: none;
  font-family: "Helvetica", "Arial", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #fffdf7;
  padding: 6px;
  font-size: 11px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 6px #cccccc;
  -moz-box-shadow: 0px 0px 6px #cccccc;
  box-shadow: 0px 0px 6px #cccccc;
  text-shadow: rgba(0, 0, 0, 0.5) 0 0 2px;
}

/* line 189, ../sass/style.scss */
.hero-button:hover {
  background-color: #da0000;
}

/* line 193, ../sass/style.scss */
.hero-button:active {
  background-color: #ac1831;
}

/*
* For the Photos feature.
*/
/* line 202, ../sass/style.scss */
#photos .feature-content {
  margin: 0px;
  padding: 0px;
  height: 330.667px;
  overflow: hidden;
  *zoom: 1;
  float: left;
  width: 974px;
}
/* line 211, ../sass/style.scss */
#photos .thumbs {
  display: none;
}
/* line 213, ../sass/style.scss */
#photos .thumbs ul {
  list-style: none;
  width: 652.58px;
  height: 324.667px;
  padding-left: 0px;
  margin: 4px;
}
/* line 219, ../sass/style.scss */
#photos .thumbs ul li {
  height: 96.222px;
  width: 96.222px;
  background-color: #000;
  margin: 4px;
  padding: 0px;
  overflow: hidden;
  *zoom: 1;
  float: left;
  -webkit-box-shadow: 0px 0px 6px #dddddd;
  -moz-box-shadow: 0px 0px 6px #dddddd;
  box-shadow: 0px 0px 6px #dddddd;
}
/* line 228, ../sass/style.scss */
#photos .thumbs ul li figure {
  height: 96.222px;
  width: 96.222px;
  margin: 0px;
}
/* line 233, ../sass/style.scss */
#photos .thumbs ul li figure img {
  width: 100%;
}
/* line 239, ../sass/style.scss */
#photos .thumbs ul li.opened {
  -webkit-box-shadow: 0px 0px 6px #333333;
  -moz-box-shadow: 0px 0px 6px #333333;
  box-shadow: 0px 0px 6px #333333;
}
/* line 245, ../sass/style.scss */
#photos article.photoset {
  display: none;
  height: 370px;
  width: 974px;
}
/* line 251, ../sass/style.scss */
#photos article.photoset.opened {
  display: block;
}
/* line 255, ../sass/style.scss */
#photos .photo {
  float: left;
}
/* line 257, ../sass/style.scss */
#photos .photo figure {
  width: 652.58px;
  height: 370px;
  margin: 0px;
}
/* line 261, ../sass/style.scss */
#photos .photo figure img {
  width: 100%;
  float: left;
}
/* line 266, ../sass/style.scss */
#photos .photo figcaption {
  width: 305.42px;
  margin: 0px;
  margin-left: 652.58px;
  margin-top: -370px;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 13px;
  line-height: 20px;
  overflow: hidden;
  *zoom: 1;
  padding: 8px;
  background-color: #faf7ed;
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0 0 8px;
  -moz-box-shadow: rgba(0, 0, 0, 0.05) 0 0 8px;
  box-shadow: rgba(0, 0, 0, 0.05) 0 0 8px;
}
/* line 279, ../sass/style.scss */
#photos .photo figcaption .notch {
  position: absolute;
  color: #faf7ed;
  font-size: 30px;
  left: 632.58px;
  top: 15px;
  margin: 0px;
  padding: 0px;
}
/* line 289, ../sass/style.scss */
#photos .photo figcaption p {
  margin: 0px;
}
/* line 293, ../sass/style.scss */
#photos .photo figcaption .credit {
  font-size: 11px;
}
/* line 302, ../sass/style.scss */
#photos .photo.opened {
  display: block;
}
/* line 306, ../sass/style.scss */
#photos .content {
  z-index: 0;
  float: left;
}
/* line 311, ../sass/style.scss */
#photos .controls {
  width: 652.58px;
  position: absolute;
  top: 0px;
  z-index: 42;
}
/* line 317, ../sass/style.scss */
#photos .controls .prev, #photos .controls .next {
  height: 60px;
  width: 60px;
  font-family: "Georgia", "Times New Roman", serif;
  font-size: 60px;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 125px;
  border-radius: 60px;
  margin: 4px;
  border: solid 4px rgba(0, 0, 0, 0.6);
}
/* line 329, ../sass/style.scss */
#photos .controls .prev p, #photos .controls .next p {
  position: relative;
  margin: 0px;
  margin-top: -8px;
  opacity: .6;
}
/* line 337, ../sass/style.scss */
#photos .controls .prev {
  left: 0px;
  text-align: left;
}
/* line 341, ../sass/style.scss */
#photos .controls .prev p {
  margin-left: 12px;
}
/* line 346, ../sass/style.scss */
#photos .controls .next {
  right: 0px;
  text-align: right;
}
/* line 350, ../sass/style.scss */
#photos .controls .next p {
  margin-right: 12px;
}
/* line 356, ../sass/style.scss */
#photos .navlinks {
  z-index: 1;
  position: absolute;
  bottom: 8px;
  width: 321.42px;
  font-family: "Georgia", "Times New Roman", serif;
  font-size: 14px;
  line-height: 20px;
  float: right;
  left: 652.58px;
}
/* line 367, ../sass/style.scss */
#photos .navlinks header {
  margin: 8px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  border-bottom: solid 1px #000;
}
/* line 375, ../sass/style.scss */
#photos .navlinks ul {
  list-style: none;
  margin: 8px;
  padding: 0px;
}
/* line 380, ../sass/style.scss */
#photos .navlinks ul li.opened {
  color: #666;
}
/* line 385, ../sass/style.scss */
#photos .navlinks figure {
  height: 65.167px;
  width: 65.167px;
  margin: 4px;
  background-color: #000;
  padding: 0px;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  *zoom: 1;
}
/* line 393, ../sass/style.scss */
#photos .navlinks figure img {
  height: 100%;
  width: 100%;
}
/* line 398, ../sass/style.scss */
#photos .navlinks figure.opened {
  -webkit-box-shadow: 0px 0px 5px black;
  -moz-box-shadow: 0px 0px 5px black;
  box-shadow: 0px 0px 5px black;
}
